{% extends 'base.html' %}

{% block content %}
<section>
    <table>
        <thead>
            <tr>
            <th>Product</th>
            <th>Version</th>
            <th>Environment</th>
            <th>URL</th>
            <th>Relationship Manager</th>
            </tr>
        </thead>
        <tbody>
            {% for product in client.applications.all%}
            <tr>
                <td><a href="{% url 'app' product.id %}">{{ product.product }}</a></td>
                <td>{{ product.version }}</td>
                <td>{{ product.environment }}</td>
                <td><a href="https://{{ product.url }}">{{ product.url }}</a></td>
                <td>{{ product.relationshipmanager }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No Products found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}