{% extends 'base.html' %}

{% block content %}
<section>
    <header class="major"><h2>Maybe News Items</h2><header>
        <div class="features">
            <article>
                <span class="icon fa-gem"></span>
                <div class="content">
                    <h3>ECOI 5.11 Release</h3>
                    <p>Some info here relating to the release. Maybe a date of when its availabile. Click <a>link</a> to find release notes</p>
                </div>
            </article>
            <article>
                <span class="icon solid fa-paper-plane"></span>
                <div class="content">
                    <h3>Women in Tech</h3>
                    <p>Article discussing Women in Tech event happening in Local Area. What Star is doing to promote Women in Tech</p>
                </div>
            </article>
            <article>
                <span class="icon solid fa-rocket"></span>
                <div class="content">
                    <h3>L&R Dev Interview</h3>
                    <p>Insight into what it takes to develop a product like L&R. Maybe also a meet the team. What is L&R?</p>
                </div>
            </article>
            <article>
                <span class="icon solid fa-signal"></span>
                <div class="content">
                    <h3>StarCompliance News</h3>
                    <p>Some other generic news item to keep things interesting </p>
                </div>
            </article>
        </div>
    </section>
{% endblock %}