{% extends 'base.html' %}

{% block content %}
<h2>Server List</h2>
<section>
    <table>
        <thread>
            <tr>
                <th>Server Name</th>
                <th>Server Role</th>
                <th>Internal IPv4</th>
                <th>External IPv4</th>
                <th>Trust Level</th>
            </tr>
        </thread>
        <tbody>
            {%for server in servers%}
              <tr>
                <td><a href="{% url 'server' server.id %}">{{ server.name }}</a></td>
                <td>{{ server.role }}</td>
                <td>{{ server.internalipv4}}</td>
                <td>{{ server.externalipv4}}</td>
                <td>{{ server.trustlevel}}</td>
              </tr>
            {%empty%}
              <tr>
                <td colspan="3">No Servers :(</td>
              </tr>
            {%endfor%}
          </tbody>
    </table>
</section>
{% endblock %}